<div id="remindme_blurb">
<h2>About Reminders To-Go</h2>
	<p>
		Reminders To-Go is a location-based reminder service.  Have you ever said to your spouse or
		roomate, "Next time we're at the grocery store, we need to get eggs"?  Then you either
		never write it down, lose the shopping list or get to the store and realize you left
		your shopping list home?	
	</p>
	<p>
		Well, now you can tell the Reminders To-Go service all of your reminders and the location where
		the reminders need to be done.  Reminders To-Go will keep track of your reminders and send you
		a text message with all reminders that apply to specific venue when you checin there with
		Foursuare.  Just text 'Get eggs @ the grocery store' to our reminder service.  Then when
		you check in at any grocery store, Reminders To-Go will send you a text to make sure you get the
		eggs.
	</p>
</div>
