<div id="auth_with_fqsr">
	<div id="site_welcome">
		<p>
		Welcome to Reminders To-Go, your location based reminder service.
		</p>
		<p>
		Click <%= link_to "here", :controller => 'home', :action => 'about' %> to learn how it works.
		</p>
	</div>

	<a id="auth_with_fqsr_link" href="<%= FSQR_SIGN_IN_URI %>">
		<img id="auth_with_fqsr_button" src="images/connect-blue.png">
	</a>
	<div id="auth_with_fqsr_note">
		If you don't yet have a RemindMe account, one will be created for you.
	</div>
</div>
	