/* the bit that does the work */

body {
  margin:0;
  border:0;
  padding:0;
  height:100%; 
  max-height:100%; 
  min-height:100%; 
  overflow: hidden; 
  }
  
html {
  margin:0;
  border:0;
  padding:0;
  height:100%; 
}

/* for internet explorer */
* html body {
  padding:120px 0 50px 0; 
  }

#container {
  position:fixed; 
  top:130px;
  left:0;
  bottom:67px; 
  right:0; 
  padding:15px;
  padding-top:0;
  padding-bottom: 15px;
  text-align:left;
  }

* html #container {
  height:100%; 
  width:100%;
  }

#header {
  position:absolute; 
  top:0; 
  left:0; 
  width:100%; 
  height:115px; 
  overflow:hidden; 
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0;
  }
* html #header {height:120px;}


#footer {
  position:fixed; 
  bottom:0; 
  left:0;
  width:100%; 
  height:55px; 
  overflow:auto; 
  text-align:center; 
  padding-top: 7px;
  }
* html #footer {height:50px;}

#username {
  position: absolute;
  top: 0;
  right: 120px;
  margin: 4px;
  padding-top: 8px;
}

#signout {
  position: absolute;
  top: 0;
  right: 50px;
  margin: 4px;
  padding-top: 8px;
}

#lastcheckin {
  position: absolute;
  top: 40px;
  right: 50px;
  margin: 4px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#last_checkin_label {
  position: relative;
  float: left;
  padding-right:0.5em;
}

#last_checkin {
  position: relative;
  float: left;
}

#mainlinks {
  position: absolute;
  top: 90px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin: 4px;
  margin-top: 6px;
  list-style: none;
  width: 600px;
}

div.mainlink {
  position: relative;
  float: left;
  padding: 0.3em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  margin-right: 6px;
}

#newreminderform {
  position: relative;
  float: left;
  width: 345px;
  padding-top: 0.7em;
  margin: 5px;
}

div.reminder {
  margin: 0;
  height: 3em;
  padding-top: 0.8em;
  padding-left: 0;
}


div.reminder_action, div.remindertext, div.remindertext_inactive, div.reminderlocation, div.reminderlocation_inactive, div.reminder_state {
  position: relative;
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.reminder_action {
  width:70px;
}

div.remindertext, div.remindertext_inactive {
  width:200px;
}

div.reminderlocation, div.reminderlocation_inactive {
  width:150px;
}

#reminder_list_title, #reminder_list_toggle {
  position: relative;
  float: left;
  margin-right: 2em;
}

#reminder_list_toggle {
  top: 24px;
}

#reminder_left_column {
  position: absolute;
  top: 0;
  left: 0;
  width: 284px;
  bottom: 4px;
  padding-right: 1px;
}

#reminder_right_column {
  position: absolute;
  top: 0;
  left: 287px;
  right: 0;
  bottom: 0;
}

#checkin_page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0; 
}

#reminder_list_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#reminder_list {
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

* html #reminder_list {
  height:100%; 
  width:100%;
  }


/* end of bit that does the work */

